asgiref
attr
cchardet
ConfigParser
contextlib2
cryptography
Cython
dl
docutils
HTMLParser
ipython
ipywidgets
jnius
keyring
lockfile
mock
Pillow
Pillow
protobuf
pyOpenSSL
python-dotenv
pywin32
railroad
Sphinx
thread
tornado
trove_classifiers
truststore
urllib3_secure_extra
watchdog
xmlrpclib
