asgiref
attr
cchardet
ConfigParser
contextlib2
cryptography
Cython
dl
docutils
HTMLParser
ipython
ipywidgets
pyjnius
keyring
lockfile
mock
Pillow
protobuf
pyOpenSSL
python-dotenv
railroad
Sphinx
thread
tornado
trove_classifiers
truststore
urllib3_secure_extra
watchdog
